@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0047ab;
}
body {
  color: var(--color-primary);
  accent-color: var(--color-primary);
}
.text-primary {
  color: var(--color-primary);
}
.bg-primary {
  background-color: var(--color-primary);
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.fade-in {
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
