@font-face {
  font-family: 'Quaver Serif';
  src: url('QuaverSerif.woff2') format('woff2'), url('QuaverSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
